<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- Сервер на Триаде-->
    <!--<add name="NGVSCAN" providerName="System.Data.SqlClient"
      connectionString="Data Source=devserver;Initial Catalog=NGVSCAN;User ID=sa;Password=sa;MultipleActiveResultSets=True" />-->
    <!-- Ноутбук Грушецкого -->
    <!--<add name="NGVSCAN" providerName="System.Data.SqlClient"
      connectionString="Data Source=DESKTOP-BT0N88U;Initial Catalog=NGVSCAN;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <!-- Рабочий комп на Янпиксе -->
    <add name="NGVSCAN" providerName="System.Data.SqlClient"
      connectionString="Data Source=DESKTOP-UF08V9V\SQLEXPRESS;Initial Catalog=NGVSCAN;Integrated Security=True;MultipleActiveResultSets=True" />
    <!-- Рабочий комп дома -->
    <!--<add name="NGVSCAN" providerName="System.Data.SqlClient"
      connectionString="Data Source=GRUSHETSKY-PC\SQLEXPRESS;Initial Catalog=NGVSCAN;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <add name="DbfDataContext" providerName="System.Data.OleDb" 
      connectionString="Data Source=C:\Dispatch\tabDbf;Provider=VFPOLEDB.1;Collating Sequence=MACHINE;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>